extends templates/layout

block navigation
    -
        const navdata = [
            {
                name : "Welcome",
                url : "social",
            },
            {
                name : "Experience",
                url : "experience",
            },
            {
                name : "Education",
                url : "education",
            },
            {
                name: "Portfolio",
                url: "portfolio",
            },
        ]
    include templates/navigation

block content
    .wrapper.wrapper--social#social(data-num=data++)
        include templates/social
    //- include templates/placeholder
    .wrapper.wrapper--exp#experience(data-num=data++)
        include templates/experience
    .wrapper.wrapper--edu#education(data-num=data++)
        include templates/education
    //- .wrapper.wrapper--skills#skills(data-num=data++)
    //-     include templates/skills
    .wrapper.wrapper--portfolio#portfolio(data-num=data++)
        include templates/portfolio

block footer
    //- include templates/social